<html lang="en" ng-app="test" >
    <body ng-controller="PostCtrl">


      <input type="text" id="inputajax" list="json-datalist" placeholder="Enter your postcode" ng-change="change(select)" ng-model="select" ng-trim="false">
      <datalist id="json-datalist"></datalist>
      <button ng-click="test()">Submit
      </button>

      <canvas id="myCanvas" width="1280" height="768" crossOrigin="anonymous"></canvas>
      <script src="../tjs/build/three.js"></script>
      <script src="../tjs/examples/js/controls/OrbitControls.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

      <!-- from here -->
      <script>
      var app = angular.module('test', []);
      var input = document.getElementById('inputajax');
      var dataList = document.getElementById('json-datalist');
      var camera, scene, renderer;
      var mesh;
      var coords;
      var c=document.getElementById("myCanvas");
      var postcodeInfo;
      var lat, long;
      var xoffset, yoffset, xspan, yspan;
      var pngNames = [];
      app.controller('PostCtrl', function($scope, $http) {
        $scope.select = "";
        $scope.test = function() {
          var val = document.getElementById('inputajax').value;
          //alert(val);
          $http({
            method: 'POST',
            url: 'init.php',
            //datatype: 'json',
            data: val,
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
          }).then(function(response) {
            console.log(response);

            for (var i = 0; i < 15; i++) {
              pngNames.push(response.data[i])
            }


            lat = response.data[15];
            long = response.data[16];
            xoffset = response.data[17];
            yoffset = response.data[18];
            xspan = response.data[19];
            yspan = response.data[20];

            xtile = response.data[21];
            ytile = response.data[22];
            xraw = response.data[23];
            yraw = response.data[24];
            xorigin = response.data[25];
            yorigin = response.data[26];

            alert("xtile number is: " + xtile + " , xraw number is: " + xraw + " ,ytile number is: " + ytile + " ,yraw number is: " + yraw);
            alert("xorigin is: " + xorigin + " , long is: " + long + " , yorigin is: " + yorigin + " , lat is: " + lat);

            coords = [lat,long];

            var ctx=c.getContext("2d");

            var imageObj1 = new Image();
            var imageObj2 = new Image();
            var imageObj3 = new Image();
            var imageObj4 = new Image();
            var imageObj5 = new Image();
            var imageObj6 = new Image();
            var imageObj7 = new Image();
            var imageObj8 = new Image();
            var imageObj9 = new Image();
            var imageObj10 = new Image();
            var imageObj11 = new Image();
            var imageObj12 = new Image();
            var imageObj13 = new Image();
            var imageObj14 = new Image();
            var imageObj15 = new Image();

            imageObj1.crossorigin = 'anonymous';
            imageObj2.crossorigin = 'anonymous';
            imageObj3.crossorigin = 'anonymous';
            imageObj4.crossorigin = 'anonymous';
            imageObj5.crossorigin = 'anonymous';
            imageObj6.crossorigin = 'anonymous';
            imageObj7.crossorigin = 'anonymous';
            imageObj8.crossorigin = 'anonymous';
            imageObj9.crossorigin = 'anonymous';
            imageObj10.crossorigin = 'anonymous';
            imageObj11.crossorigin = 'anonymous';
            imageObj12.crossorigin = 'anonymous';
            imageObj13.crossorigin = 'anonymous';
            imageObj14.crossorigin = 'anonymous';
            imageObj15.crossorigin = 'anonymous';

            imageObj1.onload = function() {ctx.drawImage(imageObj1, 0, 0);}
            imageObj2.onload = function() {ctx.drawImage(imageObj2, 256, 0);}
            imageObj3.onload = function() {ctx.drawImage(imageObj3, 512, 0);}
            imageObj4.onload = function() {ctx.drawImage(imageObj4, 768, 0);}
            imageObj5.onload = function() {ctx.drawImage(imageObj5, 1024, 0);}
            imageObj6.onload = function() {ctx.drawImage(imageObj6, 0, 256);}
            imageObj7.onload = function() {ctx.drawImage(imageObj7, 256, 256);}
            imageObj8.onload = function() {ctx.drawImage(imageObj8, 512, 256);}
            imageObj9.onload = function() {ctx.drawImage(imageObj9, 768, 256);}
            imageObj10.onload = function() {ctx.drawImage(imageObj10, 1024, 256);}
            imageObj11.onload = function() {ctx.drawImage(imageObj11, 0, 512);}
            imageObj12.onload = function() {ctx.drawImage(imageObj12, 256, 512);}
            imageObj13.onload = function() {ctx.drawImage(imageObj13, 512, 512);}
            imageObj14.onload = function() {ctx.drawImage(imageObj14, 768, 512);}
            imageObj15.onload = function() {
              ctx.drawImage(imageObj15, 1024, 512);
              init();
              //console.log('past init');
              animate();
            }

            imageObj1.src = pngNames[0];
            imageObj2.src = pngNames[1];
            imageObj3.src = pngNames[2];
            imageObj4.src = pngNames[3];
            imageObj5.src = pngNames[4];
            imageObj6.src = pngNames[5];
            imageObj7.src = pngNames[6];
            imageObj8.src = pngNames[7];
            imageObj9.src = pngNames[8];
            imageObj10.src = pngNames[9];
            imageObj11.src = pngNames[10];
            imageObj12.src = pngNames[11];
            imageObj13.src = pngNames[12];
            imageObj14.src = pngNames[13];
            imageObj15.src = pngNames[14];

          })
        }

        function getPost(str) {
          //var postJSON = 'https://api.postcodes.io/postcodes/EX/autocomplete'
          var postJSON = 'https://api.postcodes.io/postcodes/' + str + '/autocomplete'
          //alert(postJSON);
          $http.get(postJSON)
            .then(function(res) {
              $scope.postcodes = res.data.result;

              for (i = 0; i<$scope.postcodes.length;i++) {
                var option = document.createElement('option');
                option.value = $scope.postcodes[i];
                dataList.appendChild(option);
              }
            });
        }


        function init() {
          var img = c.toDataURL("image/png");

          getHeights();

          //alert(postcodeInfo);

          camera = new THREE.PerspectiveCamera( 70, window.pnginnerWidth / window.innerHeight, 1, 10000 );
          camera.position.z = 800;
          scene = new THREE.Scene();
          var texture = new THREE.TextureLoader().load( img );
          //var geometry = new THREE.BoxBufferGeometry( 1280, 768, 20 );
          var geometry = new THREE.BoxBufferGeometry( 1280, 20, 768 );
          var material = new THREE.MeshBasicMaterial( { map: texture } );
          group = new THREE.Object3D();
          mesh = new THREE.Mesh( geometry, material );
          //group.rotation.set(new THREE.Vector3( 0, 0, Math.PI / 2));

          /*
          var geometry = new THREE.BoxBufferGeometry( 10, 10, 200 );
          testmesh = new THREE.Mesh(geometry);
          testmesh.position.set(640,0,100);
          group.add(mesh);
          group.add(testmesh);
          */

          scene.add( group );
          renderer = new THREE.WebGLRenderer({ alpha: true });
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.setSize( window.innerWidth, window.innerHeight );
          document.body.appendChild( renderer.domElement );
          window.addEventListener( 'resize', onWindowResize, false );
          //var orbit = new THREE.OrbitControls( camera, renderer.domElement );
          var orbit = new THREE.OrbitControls( camera );

          console.log(mesh.matrix);

          finish();

        }
        function onWindowResize() {
          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();
          renderer.setSize( window.innerWidth, window.innerHeight );
        }
        function animate() {
          requestAnimationFrame( animate );
          mesh.rotation.x += 0.000;
          mesh.rotation.y += 0.00;
          renderer.render( scene, camera );
          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();
          renderer.setSize( window.innerWidth, window.innerHeight );
        }
        function getHeights() {
          $http({
            method: 'POST',
            url: 'query.php',
            //datatype: 'json',
            data: coords,
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
          }).then(function(res) {
            postcodeInfo = res.data;
            //var longConst = 4967;
            //var latConst = 9309;

            var longConst = Math.abs(1280 / xspan);
            var latConst = Math.abs(768 / yspan);

            //alert(longConst + " " + latConst);
            //alert(xspan + "," + yspan);
            alert("xoffset = " + xoffset + " degrees , yoffset = " + yoffset + " degrees");
            alert("lat = " + lat + " long = " + long);

//            lat = lat;
//            long = long;
            lat = lat - (yoffset);
            long = long - (xoffset);

            alert("after offset correction, lat = " + lat + " long = " + long);

            group.add(mesh);



            for (var i = 0; i < postcodeInfo.length; i++) {
              var geometry = new THREE.BoxBufferGeometry( 2, postcodeInfo[i]["Total"], 2 );
              bar = new THREE.Mesh(geometry);

              var xpos = ((((postcodeInfo[i]["Longitude"] - long ) ) * longConst));
//              var xpos = ((((postcodeInfo[i]["Longitude"] - long) ) * longConst));
              var ypos = (postcodeInfo[i]["Total"] / 2);
              var zpos = -((((postcodeInfo[i]["Latitude"] - lat ) ) * latConst));
//              var zpos = -((((postcodeInfo[i]["Latitude"] - lat) ) * latConst));
              bar.position.set(xpos, ypos, zpos);

              bar.material.color.setHex( 0x9900FF );
              bar.material.transparent = true;
              bar.material.opacity = 0.3;
              group.add(bar);
            }

          });
        }

        function finish() {
          $http({
            method: 'POST',
            url: 'cleanup.php',
            //datatype: 'json',
            data: pngNames,
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
          }).then(function(res) {
            //alert(res.data);
          });
        }

        // option #1 with ng-change="change()"
        $scope.change = function(str) {
          document.getElementById('json-datalist').innerHTML = '';
          getPost(str);
        }

      });

      </script>


    </body>
</html>
